@import "normalize";
@import "variables";
@import "typography";

:root {
  font-size: $base-font-size;

  --foreground: #333;
  --background: #fff;

  --header-image: "";

  @media (prefers-color-scheme: dark) {
    --foreground: #f5f5f5;
    --background: #222;
  }

  @media (prefers-color-scheme: light) {
    --foreground: #333;
    --background: #fff;
  }

  @media #{$sm} {
    font-size: $base-font-size-sm;
  }
}

* {
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  font-family: $font-stack;
  line-height: $line-height;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: $container-width;
  padding: 0 $space;
  margin: 0 auto;

  @media #{$sm} {
    padding: 0 2 * $space;
  }
}

.frontpage-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 $space;
  font-size: $h5-size;
  text-align: center;

  > * {
    z-index: 2;
  }

  &__title {
    margin-bottom: 4 * $space;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--header-image);
    background-size: cover;
    background-position: 50%;
    filter: grayscale(0.5);
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    opacity: 0.8;
    pointer-events: none;
    z-index: 1;
  }

  @media #{$sm} {
    padding: 0 2 * $space;
  }
}

.nav {
  display: flex;
  flex-direction: row;

  &__link:not(:last-of-type) {
    margin-right: $space;
  }
}

.page-header {
  margin: 4 * $space 0 2 * $space;

  @media #{$md} {
    margin-top: 8 * $space;
  }
}

.grid {
  display: grid;
}
