// Breakpoints
$sm: "(min-width: 48em)";
$sm-m: "(max-width: 48em)";
$md: "(min-width: 64em)";
$lg: "(min-width: 75em)";

:root {
  font-size: 18px;
  --font-stack: Muli, Arial, sans-serif;
  --line-height: 1.5;
  --heading-line-height: 1.1;
  --base-font-size: 18px;

  --foreground: #333;
  --background: #fff;

  --space: 0.75rem; // Base spacing unit (e.g., for use in margins and paddings)

  --container-width: 75em;
}
