// Breakpoints
$sm: "only screen and (min-width: 48em)";
$sm-m: "only screen and (max-width: 48em)";
$md: "only screen and (min-width: 64em)";
$lg: "only screen and (min-width: 75em)";

// Fonts
$font-stack: Arial, sans-serif;

// Colors
$foreground: #333;
$background: #fff;
